.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .wrapper h1 {
    margin: 0;
    font-size: 150px;
    color: rgba(255, 255, 255, 0.01);
    background-image: url(image/dev.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: fire 12s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  
 
  
@keyframes fire {
    0%{
        background-position: left 0 top 10px;
    }
    
    30%{
        background-position: left 1000px top 0;
    }
    70%{
        background-position: left 2000px top -50px;
    }
    100%{
        background-position: left 3000px top -10px;
    }
}